body { 
  font-family: sans-serif;
}

.drag-box {
  width: 200px;
  height: 25px;
  border: 1px solid;
  padding: 2px;
  position: absolute;
  float: left;
  background: #fff;
}

.delete {
  float: right;
  margin: 2px;
  text-align: center;
}

.edit {
  float: left;
  margin: 2px;
  text-align: center;
}

.drag-text{
  float: left;
  width: 60%;
}

.drag-buttons {
  float: right;
  width: 40%;
}

#draggable-container, .draggable-container {
  width: 500px;
  height: 500px;
  border: 1px solid;
  padding: 10px;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

#buttons {
  margin-top: 25px;
}

.dialog { display: none; }